body {
    font-family: Arial, sans-serif;
    background-image:url(pho.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

select, input, button {
    margin: 8px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:190px;
}

#inpCur {
    width: 190px;
}

#bad, #backbtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#bad:hover, #backbtn:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.bb {
    margin-top: 20px;
}