*{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background:white;
    width:100%;
    min-height: 100vh;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding:10px 14px;
    border-right: 4px solid black;
    transition:0.5s;
}
nav .logo-name {
    display: flex;
    align-items: center;}
    nav .logo-image{
        display: flex;
        justify-content: center;
        min-width: 45px;
    }
    
    nav .logo-image img {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    nav .logo-name .logo_name{
        font-size: 25px;
        font-weight: 600;
        color: var(--text-color);
        margin-left: 11px;
        transition: var(--tran-05);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: rgb(233, 237, 5);
    }